<mat-card class="mainCardsobre mat-elevation-z4">
<mat-card class="secondcard">
    <h2>Sobre mim ></h2>
    <hr>
    <div class="img">
        <img src="">
    </div>
    <h3>Resumo ></h3>
    <p>
       Meu nome é Vinicius, tenho 26 anos, sou formado em Sistemas de Informações pela universidade Estácio de Sá. Possuo aproximadamente 3 anos de experiência na área de desenvolvimento de software.
       Nesse tempo tive a oportunidade de trabalhar com diversas tecnologias como .Net C#, SQL-Server, Html 5, CSS 3, JavaScript entre outras tecnologias. 
    </p>
</mat-card>
</mat-card>