<div class="content">
    <mat-card class="mainCard mat-elevation-z4">
        <mat-card class="apresentacao mat-elevation-z4">
            <h2>Apresentação ></h2>
            <hr/>
            <br/>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Vinicius Fernando</mat-card-title>
              <mat-card-subtitle>Desenvolvedor .Net C#</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/homeImage/vini2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Meu nome é Vinicius, tenho 26 anos, sou formado em Sistemas de Informações e atuo na área há aproximadamente 3 anos.
              </p>
              
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
          <div id="sidegroup">
            <mat-card class="apresentacaocard mat-elevation-z4">
                <h2>Projetos ></h2>
                <img mat-card-image id="imgprojetos" src="https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_960_720.png" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <!-- <button mat-button class="black">Visitar</button> -->
                </mat-card-actions>
                <mat-card-content>
                </mat-card-content>
              </mat-card>

              <mat-card class="apresentacaocard mat-elevation-z4">
                <h2>Habilidades ></h2>
                <img mat-card-image id="imgprojetos" src="https://cdn.pixabay.com/photo/2015/01/08/18/25/startup-593327_960_720.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <!-- <button mat-button class="black">Visitar</button> -->
                </mat-card-actions>
                <mat-card-content>
                </mat-card-content>
              </mat-card>
          </div>


    </mat-card>



</div>

