.header{
    display: flex;
    align-items: center;
}
.header a{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
max-height: 32px;
}
.header .title-group{
    padding-left: 25px;
}
.header .title-group{
    padding-right: 5px;
}
.topIcons{
    display: flex;
    height: 34px;
    width: 34px;
}
.right{
    flex: 1 1 auto;
}
.header button {
    display: table-cell;
    width: 90px;
    border: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    background-color: whitesmoke;
  }