<mat-toolbar class="header mat-elevation-z4">
   <img src="/assets/img/logo.png" id="logo">
   <span id="menu">
      <button mat-flat-button routerLink='/apresentacao'>Início</button>

      <button mat-button routerLink='/sobre' >Sobre mim</button>
      <button mat-button [matMenuTriggerFor]="beforeMenu">Projetos</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="afterMenu">Contato</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
      </mat-menu>
   </span>
   <span class="right">
   </span>
   <a href=""><img class="topIcons" src="assets/img/Git.png" /></a>
   <a href=""><img class="topIcons" src="assets/img/linkedin.png" /></a>
</mat-toolbar>