/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: RobotoArial, sans-serif, "Helvetica Neue", sans-serif; background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"); background-repeat: no-repeat; background-size: 100% 100%;}
